Body {
    background-color: rgba(29, 91, 104, 0.664);
    color:antiquewhite;
}
h1,h2 {
    color:rgba(0, 0, 0, 0.884)
}
hr {
    height:2px;
    background-color:rgba(0, 0, 0, 0.884);
    border:none;
}